<footer class="col col-12 article-footer mt3 mb3">
    <div class="social">
      <a href="https://www.facebook.com/In-residence-431893637019985/?fref=ts">
        <img src="{{asset "images/fb.svg"}}" alt="" class="px2">
      </a>
      <a href="https://www.instagram.com/inresidence_ari/">
        <img src="{{asset "images/insta.svg"}}" alt="" class="px2">
      </a>
    </div>
    <div class="brand orange">{{@blog.title}}</div>
    &copy; {{date format="YYYY"}}
</footer>

