<footer class="col col-12 article-footer mt3 mb3">
    <div class="social mb2">
      <a href="https://www.facebook.com/In-residence-431893637019985/?fref=ts" target="_blank">
        <img src="{{asset "images/fb.svg"}}" alt="Facebook" class="px2 social-icon">
      </a>
      <a href="https://www.instagram.com/inresidence_ari/" target="_blank">
        <img src="{{asset "images/insta.svg"}}" alt="Instagram" class="px2 social-icon">
      </a>
    </div>
    <div class="brand orange">{{@blog.title}}</div>
    &copy; {{date format="YYYY"}}
</footer>

