<nav class="clearfix orange mt2">
  <div class="col col-6 sm-col-4 brand">
    <a href="/" class="btn">in residence</a>
  </div>
  <div class="col col-right sm-col-8 link">
    {{#foreach @blog.navigation}}
    <a href="{{url absolute="true"}}" class="wat btn nav-menu-link nav-{{slug}} {{#if current}}nav-current{{/if}}">{{label}}</a>
    {{/foreach}}
  </div>
</nav>
