<nav class="clearfix mt2">
  <div class="col col-6 sm-col-4 brand orange">
    <a href="/" class="btn">{{@blog.title}}</a>
  </div>
  <div class="col col-right sm-col-8 link dark-orange">
    {{#foreach navigation}}
      <a href="{{url absolute="true"}}" class="btn nav-menu-link nav-{{slug}} {{#if current}}nav-current{{/if}}">{{label}}</a>
    {{/foreach}}
  </div>
</nav>
