/*in residence Ghost Theme Stylesheet*/

@font-face {
  font-family: 'web-Publico';
  src: url('../fonts/Publico-Italic.eot?') format('eot'),
       url('../fonts/Publico-Italic.woff2') format('woff2'),
       url('../fonts/Publico-Italic.woff') format('woff'),
       url('../fonts/Publico-Italic.ttf')  format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'web-Publico';
  src: url('../fonts/Publico-Light.eot?') format('eot'),
       url('../fonts/Publico-Light.woff2') format('woff2'),
       url('../fonts/Publico-Light.woff') format('woff'),
       url('../fonts/Publico-Light.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'web-Publico';
  src: url('../fonts/Publico-Medium.eot?') format('eot'),
       url('../fonts/Publico-Medium.woff2') format('woff2'),
       url('../fonts/Publico-Medium.woff') format('woff'),
       url('../fonts/Publico-Medium.otf')  format('opentype'),
       url('../fonts/Publico-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'web-PublicoText';
  src: url('../fonts/PublicoText-Roman.eot?') format('eot'),
       url('../fonts/PublicoText-Roman.woff2') format('woff2'),
       url('../fonts/PublicoText-Roman.woff') format('woff'),
       url('../fonts/PublicoText-Roman.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'web-PublicoText-Semi';
  src: url('../fonts/PublicoText-SemiboldItalic.eot?') format('eot'),
       url('../fonts/PublicoText-SemiboldItalic.woff2') format('woff2'),
       url('../fonts/PublicoText-SemiboldItalic.woff') format('woff'),
       url('../fonts/PublicoText-SemiboldItalic.ttf')  format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'web-Brown';
  src: url('../fonts/brown-font.eot?') format('eot'),
       url('../fonts/brown-font.woff2') format('woff2'),
       url('../fonts/brown-font.woff') format('woff'),
       url('../fonts/brown-font.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'web-Brown';
  src: url('../fonts/Brown-Light.eot?') format('eot'),
       url('../fonts/Brown-Light.woff2') format('woff2'),
       url('../fonts/Brown-Light.woff') format('woff'),
       url('../fonts/Brown-Light.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

html, body {
  height: 100%;
}

#top, #bottom, #left, #right {
  background: #F04A24;
  position: fixed;
}

#left, #right {
  top: 10px; bottom: 0;
  width: 10px;
  height: calc(100% - 20px);
}

#left { left: 10px;}

#right { right: 10px;}

#top, #bottom {
  left: 10px; right: 0;
  height: 10px;
  width: calc(100% - 20px);
}

#top { top: 0; margin-top: 10px; }

#bottom { bottom: 0; margin-bottom: 10px;}

body {
  font-family: "web-PublicoText";
  min-height: 100%;
  font-size: 15px;
  color: #2D2D2D;
}

h1.home-intro {
  font-family: "web-Publico";
  font-weight: 500;
  color: #343434;
  font-size: 2.143em;
}

h1.article-header {
  font-family: "web-Brown";
  font-weight: lighter;
  font-size: 3.429em;
}
h2, h3, h4, h5 { font-family: "web-Brown"; font-weight: lighter;}
h2 {
  font-size: 2.286em;
}

p {
  line-height: 1.5;
}

p.article-byline {
  color: #552014;
}

.brand {
  font-family: "web-Brown";
  font-size: 1.429em;
}

nav .link {
  font-size: 1.286em;
  font-weight: lighter;
  font-family: "web-Publico";
}

nav .link a:hover {
  text-decoration: underline;
}

blockquote {
  font-size: 1.2em;
  font-family: "web-PublicoText-Semi";
  font-style: italic;
}

em {
  font-family: "web-Publico";
}

.article-type {
  text-align: center;
}

.article-type a {
  visibility: hidden;
  opacity: 0;
  color: ;
}

.tag-1 > .tag-1, .tag-2 > .tag-2, .tag-3 > .tag-3 {
  visibility: visible;
  opacity: 1;
}

.article-type:hover a {
  visibility: visible;
  opacity: 1;
  font-weight: lighter;
}

.article-type-link:hover {
  text-decoration: underline;
}

.article-type:hover .tag-1,.article-type:hover .tag-2, .article-type:hover .tag-3, .article-type:hover .tag-4{
  padding-top: 0;
}

nav .article-navigation {
  font-family: "web-Publico";
  text-align: right;
  font-size: 1.357em;
  font-weight: lighter;
}

.nav-menu-link {
  margin-top: 0.2em;
}

.btn {
  padding-left: 0;
}

.orange {
  color: #F04A24;
}

.dark-orange {
  color: #552014;
}

.home-article-top {
  position: relative;
}

.home-article-image {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.home-article-type > a {
  font-size: 1.334em;
  color: #552014;
}

.has-image .home-article-type {
  position: absolute;
}

.home-article-link {
  font-family: "web-PublicoText-Semi";
  font-style: italic;
}

.article-content {
  max-width: 31.214em;
  margin: 0 auto;
}
.nav-menu-link {
  margin-right: 0.3em;
}
.article-footer {
  text-align: center;
}

.social-icon {
  height: 1.4em;
}

/*Progressive Enhancements*/
@media screen and (min-width: 40em) {
  body {
    padding: 20px 10px
  }
  h1.article-header {
    text-align: center;
  }
  .article-byline {
    text-align: center;
  }
  nav .brand {
    font-size: 1.857em;
  }
  nav .link {
    font-size: 1.714em;
  }
  .nav-menu-link {
    margin-right: 2em;
    margin-top: 0;
  }
}

@media screen and (min-width: 52em) {
  h1.home-intro {
    font-size: 2.4em;
  }
  h1.article-header {
    text-align: center;
  }
}
