html, body {
  height: 100%;
}

#top, #bottom, #left, #right {
  background: #F04A24;
  position: fixed;
}

#left, #right {
  top: 10px; bottom: 0;
  width: 10px;
  height: calc(100% - 20px);
}

#left { left: 10px;}

#right { right: 10px;}

#top, #bottom {
  left: 10px; right: 0;
  height: 10px;
  width: calc(100% - 20px);
}

#top { top: 0; margin-top: 10px; }

#bottom { bottom: 0; margin-bottom: 10px;}

body {
  font-family: "Publico Text";
  min-height: 100%;
  font-size: 14px;
  color: #2D2D2D;
}

h1.home-intro {
  font-family: "Publico";
  font-weight: lighter;
  color: #343434;
  font-size: 2.143em;
}

h1.article-header {
  font-family: "Brown";
  font-weight: lighter;
  font-size: 3.429em;
}
h2, h3, h4, h5 { font-family: "Brown"; font-weight: lighter;}
h2 {
  font-size: 2.286em;
}

p {
  line-height: 1.5;
}

p.article-byline {
  color: #552014;
  font-style: italic;
}

.brand {
  font-family: "Brown";
  font-size: 1.429em;
}

nav .link {
  font-size: 1.286em;
  font-weight: lighter;
  font-family: "Publico";
}

.article-type {
  text-align: center;
}

.article-type a {
  visibility: hidden;
  opacity: 0;
  color: ;
}

.tag-1 > .tag-1, .tag-2 > .tag-2, .tag-3 > .tag-3 {
  visibility: visible;
  opacity: 1;
}

.article-type:hover a {
  visibility: visible;
  opacity: 1;
  font-weight: lighter;
}

.article-type-link:hover {
  text-decoration: underline;
}

.article-type:hover .tag-1,.article-type:hover .tag-2, .article-type:hover .tag-3, .article-type:hover .tag-4{
  position: relative;
  padding-top: 0;
}

nav .article-navigation {
  font-family: "Publico";
  text-align: right;
  font-size: 1.357em;
  font-weight: lighter;
}

.nav-menu-link {
  margin-top: 0.2em;
}

.btn {
  padding-left: 0;
}

.orange {
  color: #F04A24;
}

.dark-orange {
  color: #552014;
}

.home-article-top {
  position: relative;
}

.home-article-image {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.home-article-type > a {
  font-size: 1.334em;
  color: #552014;
}

.has-image .home-article-type {
  position: absolute;
}

.has-image .home-article-type > a {
  font-size: 1.334em;
  color: white;
}

.home-article-link {
  font-style: italic;
}

.article-content {
  max-width: 31.214em;
  margin: 0 auto;
}
.nav-menu-link {
  margin-right: 0.3em;
}
.article-footer {
  text-align: center;
}

/*Progressive Enhancements*/
@media screen and (min-width: 40em) {
  body {
    padding: 20px 10px
  }
  h1.article-header {
    text-align: center;
  }
  .article-byline {
    text-align: center;
  }
  nav .brand {
    font-size: 1.857em;
  }
  nav .link {
    font-size: 1.714em;
  }
  .nav-menu-link {
    margin-right: 2em;
    margin-top: 0;
  }
}

@media screen and (min-width: 52em) {
  h1.home-intro {
    font-size: 3em;
  }
  h1.article-header {
    text-align: center;
  }
}
